*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background: #141414;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    padding: 10px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
 
.nav-menu{
    position: fixed;
    width: 90%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(248, 8, 8);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

main{
    min-height: calc(100vh - 160px - 203px);
}

.main-content{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), url(../assets/img/tool-fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.main-content .container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.main-content .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.main-content .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 75%;
    margin-bottom: 1.25em;
}

.main-content .button{
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.main-content .button:hover{
    background: #fff;
    color: #000;
}

.footer{
    background-image: url(../assets/img/tool-navbar.jpg);
    background-position: center;
}

.footer .grupo-1{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-gap: 20px;
    padding: 10px 0;
    color: #fff;
    justify-items: center;
}

.footer .grupo-1 .box{
    text-align: center;
}

.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover{
    background-color: rgba(0, 0, 0, .95);
}

.footer .grupo-2{
    text-align: center;
    color: #fff;
    padding: 15px 10px;
}

@media screen and (min-width: 768px) {
    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 14px;
    }

    main{
        min-height: calc(100vh - 160px - 167px);
    }

    .footer .grupo-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}